.titleDiv {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 350px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .projectsDiv {
    text-align: center;
    margin-bottom: 350px;
  }

  .infoDiv {
    text-align: center;
    margin-bottom: 350px;
  }